.bloque-texto-a.color-primario
  background-color: #4DD0E1


.bloque-texto-a.color-primario:before
  background-color: #e8e8e8

.bloque-texto-b.color-primario:before
  background-color: #a6eef742

.fondo1
  background: url('../assets/curso/tema1/fondo1.png')
  background-position: top
  background-size: auto
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media (max-width: 992px)
    background-size: cover
    margin-inline: -1.4rem

.tarjeta.color-azulado
  background-color: #BED5FC
  border-radius: 25px